.banner{
    width: 100%;background:#F6EDE4;

    >.container{
        padding:0;
        padding-left:230px;overflow:hidden;
        .carousel-inner{
                height:400px;width: 970px;
                .item a:first-child img{
                    display:inline-block;
                }
                .item div{
                    float:right;width: 205px;height: 400px;
                    padding-left:10px;padding-top:5px;
                } 
            }
        }
    }
.carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}

.carousel-fade .carousel-inner .active{ opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{opacity: 0;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}

.carousel-indicators{
    text-align:left;margin-left:-48%;padding-right:5px;z-index:5;
}
.carousel-indicators li{
    width: 22px;height: 22px;line-height:22px;
    text-indent:0px;border-radius:50%;
    background:#E8E8E8;text-align:center;font-size:12px;
}
.carousel-indicators .active {
  width: 22px;
  height: 22px;
  margin: 0;
  background-color:#00B5FF;
  z-index:5;
}

/* imgbox */
.imgbox .container{
    position:relative;
    height: 220px;
    z-index:0;
    padding: 0 ;

    .notice{
        height: 33px;line-height:33px;
        span{
            display: block;
            float: left;
            width: 19px;
            height: 19px;
            background: url('../images/z_spirit.gif') no-repeat -409px -30px;
            margin-top: 6px;
            margin-left:230px;
            margin:6px 6px 0 231px;
        }
        a{
            color:#666;font-size:12px;

        }
    }
    .img-box1{
        position:absolute;left:240px;width: 969px;
        img{
            margin:0 2px;
            }
    }
}

/* 限时抢购 */
.z_limit{
    .container{
        padding:0;
        >p{
            height:62px;
            padding-top:27px;padding-bottom:10px;
            font-size:22px;border-bottom:3px solid #FF8C8F;    
            span:first-child{
                color:#f00;padding-right:20px;
            }
            span:last-child{
                color:#C4C4C4;
            }
        }
        >div{
            height:467px;border-bottom:1px solid #ddd;
            .goodsBox{
                display:block;float:left;
                position: relative;
                width: 287px;height: 404px;
                border: 1px solid #e4e4e4;
                margin-right: 12px;text-decoration:none;
                margin-top:10px;

                .times{
                    width: 285px;height: 38px;color: #999;
                    line-height: 38px;
                    background: #f8f7f5 url('../images/z_limitBuy_5.jpg') no-repeat 33px 5px;
                    padding-left: 73px;
                }
                >img{
                    margin: 13px;
                }
                .goodsContent{
                    padding: 0 13px;
                    font-size:12px;font-weight:bold;color:#666666;
                    overflow: hidden;text-overflow: ellipsis;
                    height:32px;width: 260px;
                }
                .price{
                    position: absolute;top: 362px;left: -1px;
                    background: url('../images/z_limitBuy_6.jpg') no-repeat;
                    width: 287px;height: 55px;color: #fff;line-height:55px;
                    font-size: 18px;font-weight: bold;
                    font-family: microsoft yahei;
                    padding-left: 20px;
                    >span{
                        font-size:36px;font-family:Arial;
                    }
                }
                .purchased{
                    position: absolute;top: 424px;right: 10px;
                    color:#666;
                    strong{
                        color:#f00;
                    }
                }
            }
        }
    }
}

/* tab上 */
.sale-box_t{
    margin-top:20px;
    .container{
        padding:0;border-bottom:2px solid #D0D0D0;
        background:linear-gradient(#fff, #f5f1f1);
        >ul{
            overflow:hidden;height:42px;
            li{
                float:left;
                height:40px;line-height:40px;padding:0 82px;
                font-weight:bold;font-size:18px;
            }
        }
        .salebox{
            .weekSale{
                width: 100%;height: 436px;padding-top:20px;
            }
        }
    }
}
/* tab下 */
.sale-box_b{
    padding-top:20px;
    .container{
        padding:0;padding-bottom:23px;border-bottom:1px solid #f1f1f1;
        .salebox-1{
            width: 240px;border-right:1px solid #f1f1f1;overflow:hidden;float:left;
            dd{
                padding-left:12px;
                a{
                    color:#666;font-size:13px;
                    text-decoration:none;
                }
            }
            .good-exce{
                margin-top:10px;
                >a{
                    display:block;
                    color:#f00;margin-bottom:40px;
                }
            }
        }
        .salebox-2{
            float:left;width: 480px;height:398px;
            .salebox-2l,.salebox-2r,.salebox-2b{
                width: 240px;height: 210px;border-right:1px solid #ddd;
                dl{
                    dt{text-align:center;}
                    dd{
                        padding-left:12px;
                        a{
                            color:#666;font-size:14px;
                            text-decoration:none;
                        }
                    }

                }
            }
            .salebox-2b{
                width: 480px;height:191px;
                dl{
                    padding-top:11px;border-top:1px solid #ddd;
                    dt{width: 220px;float:left;}

                    dd:nth-child(2){
                        margin-bottom:10px;
                        a{
                            color:#666666;
                        }                        
                    }
                    dd:nth-child(3){
                        margin-bottom:40px;
                        padding-right:13px;
                        a{
                            color:#f00;
                        }
                    }
                        
                }
            }
        }
        .salebox-3{
            float:left;width: 240px;height: 389px;
            border-right:1px solid #ddd;padding-left:13px;
            dl{
                dt{text-align:center;margin-left:-13px;}
                dd{
                    a{
                        color:#666;font-size:14px;
                        text-decoration:none;
                    }
                }
                dd:nth-child(1){
                    margin-bottom:10px;
                    a{color:#666666;}                        
                }
                dd:nth-child(2){
                    margin-bottom:40px;
                    padding-right:13px;
                    a{color:#f00;}
                }

            }
        }
        .salebox-4{
            float:right;width: 239px;height: 411px;
            
            dl{
                padding-left:13px;
                dt{text-align:center;margin-left:-13px;}
                dd{
                    a{
                        color:#666;font-size:14px;
                        text-decoration:none;
                    }
                }

                &:first-child{
                    padding-bottom:10px;
                    border-bottom:1px solid #ddd;
                }
            }
        }
    }
}
/* weekSale的公共样式 */
.sale-box_b .container .weekSale .good-price{
   font-size:18px;color:#f00;height:22px;line-height:22px;
    span:first-child{
        font-size:24px;height:22px;line-height:18px;font-weight:bold;
    }
    .zhekou{
        font-size:13px;
    }
}

/* 品牌活动 */
.brand{
    .container{
        padding:20px 0 0 0 ;
        .brand_t{
            border-bottom:2px solid #D0D0D0;overflow:hidden;
            h4{
                height:40px;line-height:40px;
                font-size:18px;font-weight:bold;float:left;
            }
            ul{
                li{
                    height:40px;line-height:40px;
                    float:left;font-size:12px;
                    padding-top:17px;
                    a{
                        display:block;color:#666666;
                        height:12px;line-height:12px;
                        text-decoration:none;padding:0 15px;
                        border-right:1px solid #666;
                    }
                    &:last-child a{
                            border-right:0 none;
                        }
                }
            }
        }
        .brand_b{
            padding-top:10px;
        }
    }
}

/* 护肤 */
/* 品牌活动 */
.skin{
    .container{
        padding:21px 0 0 0 ;
        .skin_t{
            border-bottom:2px solid #0094FF;overflow:hidden;
            h4{
                height:42px;line-height:42px;
                font-size:20px;font-weight:bold;float:left;
                span{
                    padding-left:10px;color:#0094FF;
                }
            }
            ul{
                li{
                    height:40px;line-height:40px;
                    float:left;font-size:12px;
                    padding-top:17px;
                    a{
                        display:block;color:#666666;
                        height:12px;line-height:12px;
                        text-decoration:none;padding:0 15px;
                        border-right:1px solid #666;
                        span{
                            color:#f00;
                        }
                    }
                    &:last-child a{
                            border-right:0 none;
                        }
                }
            }
        }
        .skin_b{
            padding-top:10px;
            overflow:hidden;
            .skin_bl{
                width: 268px;height: 480px;
                float:left;
            }
            .skin_bc{
                float:left;width: 690px;height: 480px;
                .hufu1,.hufu2{
                        width: 345px;height: 181px;float:left;
                        border-right:1px solid #f1f1f1;
                        border-bottom: 1px solid #f1f1f1;
                        dt{
                            float:left;
                        }
                        dd{
                            &:nth-child(2){
                                padding-top:28px;
                                margin-bottom:10px;
                                a{
                                    color:#666;
                                }
                            }
                            &:nth-child(3){
                                height:32px;
                                margin-bottom:30px;
                                a{
                                    color:#000;
                                }
                            }
                        }
                }
                .hufu2{
                    border-right:0;
                }
                .hufu3,.hufu4,.hufu5{
                    float:left;width: 230px;height: 299px;
                    border-right:1px solid #f1f1f1;
                    border-bottom: 1px solid #f1f1f1;
                    padding-left:25px;
                        dt{
                            padding-top:15px;
                        }
                        dd{  
                            a{
                                box-sizing:content-box;
                                display:block;
                                height:13px;line-height:13px;font-size:13px;
                                text-decoration:none;
                                font-family: microsoft yahei;
                            }
                            &:nth-child(1) a{
                                color:#666666;
                                padding-top:20px;margin-bottom:10px;
                            }
                            &:nth-child(2) a{
                                color:#000;margin-bottom:20px;
                            }
                        }  

                }
                .hufu5{
                    border:0;
                }
            }
            .skin_br{
                float:right;
                height:480px;width: 218px;
                h3{
                    font-size: 16px;
                    line-height: 34px;height: 34px;
                    color: #ff1a3a;
                    text-align: center;
                    border-bottom: 2px solid #d0d0d0;
                }
                li{
                    .toplist{
                        display: block;
                        // display:none;
                        height: 42px;line-height: 42px;
                        border-bottom: 1px solid #e4e4e4;
                        padding: 0 8px;font-size:12px;color:#666;
                        overflow: hidden;text-overflow: ellipsis;
                        .num{
                            display:inline-block;
                            border:2px solid #F00;border-radius:50%;
                            height: 18px;line-height:8px;padding:4px;
                            margin-right:5px;
                            color:#f00;font-weight:bold;
                        }

                    }
                    div{
                        display:none;
                        height:230px;padding:13px 0;
                        dl{
                            text-align:center;
                            a{
                                color:#7D7D7D;text-decoration:none;
                                font-weight:bold;font-size:13px;
                            }
                            dd:last-child{
                                color:#f00;font-weight:bold;font-size:13px;
                                padding-top:10px;
                            }
                        }

                    }
                &:first-child .toplist{display:none;}
                &:first-child div{display:block;}
                }
            }
        }
    }
}

/* 品牌活动公共样式 */
.skin .container .skin_b .good-price{
   font-size:18px;color:#f00;height:22px;line-height:22px;
    span:first-child{
        font-size:24px;height:22px;line-height:18px;font-weight:bold;
    }
    .zhekou{
        font-size:13px;
    }
} 
