.banner{
    width: 100%;background:#F6EDE4;

    >.container{
        padding:0;
        padding-left:230px;overflow:hidden;
        .carousel-inner{
                height:400px;width: 970px;
                .item a:first-child img{
                    display:inline-block;
                }
                .item div{
                    float:right;width: 205px;height: 400px;
                    padding-left:10px;padding-top:5px;
                } 
            }
        }
    }
.carousel-fade .carousel-inner .item{ opacity:0; -webkit-transition-property:opacity;-moz-transition-property:opacity ; -ms-transition-property:opacity;-o-transition-property:opacity;transition-property:opacity ;}

.carousel-fade .carousel-inner .active{ opacity: 1;}
.carousel-fade .carousel-inner .active.left,.carousel-fade .carousel-inner .active.right{opacity: 0;}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {opacity: 1;}

.carousel-indicators{
    text-align:left;margin-left:-48%;padding-right:5px;z-index:5;
}
.carousel-indicators li{
    width: 22px;height: 22px;line-height:22px;
    text-indent:0px;border-radius:50%;
    background:#E8E8E8;text-align:center;font-size:12px;
}
.carousel-indicators .active {
  width: 22px;
  height: 22px;
  margin: 0;
  background-color:#00B5FF;
  z-index:5;
}

/* imgbox */
.imgbox .container{
    position:relative;
    height: 220px;
    z-index:0;
    padding: 0 ;

    .notice{
        height: 33px;line-height:33px;
        span{
            display: block;
            float: left;
            width: 19px;
            height: 19px;
            background: url('../images/z_spirit.gif') no-repeat -409px -30px;
            margin-top: 6px;
            margin-left:230px;
            margin:6px 6px 0 230px;
        }
        a{
            color:#666;font-size:12px;

        }
    }
    .img-box1,{
        position:absolute;left:240px;width: 969px;
        img{
            margin:0 2px;
            }
    }
}

/* 限时抢购 */
.z_limit{
    .container{
        padding:0;
        >p{
            height:62px;
            padding-top:27px;padding-bottom:10px;
            font-size:22px;border-bottom:3px solid #FF8C8F;    
            span:first-child{
                color:#f00;padding-right:20px;
            }
            span:last-child{
                color:#C4C4C4;
            }

        }
    }
}