#pageHeader_t{
    background:linear-gradient(#fff ,#ddd);border-bottom:1px solid #ccc;
    .container{
        width:1200px;
        .header_l{
            li{
                float:left;height:32px;line-height:32px;font-size:14px;padding-right:7px;
                a{
                    color:#666666;text-decoration: none;
                }
                &:hover{color:#f60;}
            }
        }
        .header_r{
            float:right;
            li{
                position:relative;float:left;height:32px;line-height:32px;padding-right: 10px;
                a{
                    color:#666666;text-decoration: none;
                    span{
                        border-left:1px solid #ddd;padding-left:12px;font-size:14px;font-weight:normal;
                    }
                    .jt-down{display:inline-block;margin-left:8px;font-size:8px;color:#A8A7A7;}
                }
                .phone{display:inline-block;padding-right:8px;color:#CBD2DC;}
                .num{color:#f00;font-weight:bold;font-style:italic;}
            }
            .header_r_secNav{display:none;}
            li:first-child:hover{
                border-right:1px solid #ddd;border-left:1px solid #ddd;margin-right:-1px;background-color:#fff;padding-left:10px;
                .header_r_secNav{position:absolute;display:block;left:-1px;padding:2px;border:1px solid #ddd;border-top-color:#fff;width:98px;z-index:100;background:#fff;}
            }
            li:first-child dt a{
                display:block;font-size:13px;padding-top:4px;font-weight:normal;margin-left:10px;
            }
            li:first-child dt:hover a{text-decoration:underline;color:#f60;}
        } 
    }
}
#pageHeader_b{
    .container{
        width:1200px;box-sizing:border-box;padding:0;
        // logo
        .logoBox{
            float:left;
            width: 150px;height: 91px;
            margin:16px 170px 0 36px;
            background:url('../images/z-logo.jpg')no-repeat;
            text-indent:-10000px;
        }
        //搜索框等等
        .searchBox{
            position:relative;
            float:left;
            width: 504px;
            height:91px;
            .row{
                .col-lg-6{
                    width:432px;padding:0;margin-left:15px;
                    .input-group{
                        margin-top:23px;position:relative;
                        .z_delSearch{position:absolute;right:60px;top:5px;z-index:100;visibility:hidden;cursor:pointer;padding:2px;}
                        .borderColor{
                            border:2px solid #02A3F0; border-radius: 0 !important;
                            &:focus{box-shadow:none;}
                        }
                        .inputBgc{background-color:#FAFAFA;}
                        .btn-primary{
                            background:#02A3F0;border-radius: 0 ;box-sizing:border-box;border-color:#02A3F0;
                            &:focus,
                            &:active:focus,
                            &.active:focus,
                            &.focus,
                            &:active.focus,
                            &.active.focus {
                                outline: none;    
                                box-shadow:none;
                            }
                        }
                    } 
                }
            }
            .hotSearch{
                float:left;padding-top:7px;
                li{
                    float:left;padding-right:12px;color:#666666;
                    a{
                        font-size:12px;
                        color:#666666;
                        span{color:#f00;}
                        &:hover{color:#f00;}
                    }
                }
            }
            .qrcode_box{
                position:absolute;top:12px;right:-80px;
                width: 80px;height: 80px;
                background:url('../images/z_erweima1.png') no-repeat;
                #mobile-ewm{
                    position:absolute;
                    top:4px;
                    left:-45px;
                    width: 180px;
                    background-color:#fff;
                    border:1px solid #ddd;
                    z-index:10;
                    visibility:hidden;
                    .app{
                        background:url('../images/z_erweima2.png')no-repeat 5px 5px;
                        padding-left:90px;
                        padding-top:5px;
                        height: 90px;
                        border-bottom:1px solid #ccc;
                        font-size:12px;
                        .android,.ios{
                            display:inline-block;
                            width: 25px;height: 25px;
                            background:url('../images/z_erweima4.png')no-repeat 0 -25px; 
                        }
                        .ios{
                            background-position:0px 0px;
                        }
                    }
                    .gzh{
                        background:url('../images/z_erweima3.jpg')no-repeat 5px 5px;
                        padding-left:90px;
                        padding-top:5px;
                        height: 90px;
                        border-bottom:1px solid #ccc;
                        font-size:12px;
                    }
                }   
            }
        }
    }     
        .shoppingCar{
            position:relative;
            float:right;
            width: 195px;height: 44px;line-height:44px;
            margin-top:20px;
            background:url('../images/z_spirit.gif')no-repeat 0 -30px;
            text-align:center;
            p{
                span{color:#f00;font-style:italic;}
            }
            #car{
                position:relative;
                display:none;
                span{
                    position:absolute;top:-1px;right:0;
                    display:block;
                    border-top:1px solid #fff;
                    width:173px;
                    height:1px;
                }
            }
            &:hover{
                display:block;
                background-position:0 -74px;
                height: 42px;line-height:43px;
                padding-top:1px;
                cursor:pointer;
                z-index:1000;
                #car{
                    position:absolute;left:-96px;top:42px;
                    display:block;
                    background:#fff;
                    width:290px;
                    line-height:44px;
                    border:1px solid #ddd;
                    z-index:-1;
                    text-align:left;
                    padding-left:20px;
                }
            }
        }
}