body{height: 2000px;margin: 0;padding: 0;}
#pageHeader_t{
    background:linear-gradient(#fff ,#ddd);border-bottom:1px solid #ccc;
    .container{
        width:1200px;
        .header_l{
            li{
                float:left;height:32px;line-height:32px;font-size:14px;padding-right:7px;
                a{
                    color:#666666;text-decoration: none;
                }
                &:hover{color:#f60;}
            }
        }
        .header_r{
            float:right;
            li{
                position:relative;float:left;height:32px;line-height:32px;padding-right: 10px;
                a{
                    color:#666666;text-decoration: none;
                    span{
                        border-left:1px solid #ddd;padding-left:12px;font-size:14px;font-weight:normal;
                    }
                    .jt-down{display:inline-block;margin-left:8px;font-size:8px;color:#A8A7A7;}
                }
                .phone{display:inline-block;padding-right:8px;color:#CBD2DC;}
                .num{color:#f00;font-weight:bold;font-style:italic;}
            }
            .header_r_secNav{display:none;}
            li:first-child:hover{
                border-right:1px solid #ddd;border-left:1px solid #ddd;margin-right:-1px;background-color:#fff;padding-left:10px;
                .header_r_secNav{position:absolute;display:block;left:-1px;padding:2px;border:1px solid #ddd;border-top-color:#fff;width:98px;z-index:100;background:#fff;}
            }
            li:first-child dt a{
                display:block;font-size:13px;padding-top:4px;font-weight:normal;margin-left:10px;
            }
            li:first-child dt:hover a{text-decoration:underline;color:#f60;}
        } 
    }
}
#pageHeader_b{
    .container{
        width:1200px;box-sizing:border-box;padding:0;
        // logo
        .logoBox{
            float:left;
            width: 150px;height: 91px;
            margin:16px 170px 0 36px;
            background:url('../images/z-logo.jpg')no-repeat;
            text-indent:-10000px;
        }
        //搜索框等等
        .searchBox{
            position:relative;
            float:left;
            width: 504px;
            height:91px;
            .row{
                .col-lg-6{
                    width:432px;padding:0;margin-left:15px;
                    .input-group{
                        margin-top:23px;position:relative;
                        .z_delSearch{position:absolute;right:60px;top:5px;z-index:100;visibility:hidden;cursor:pointer;padding:2px;}
                        .borderColor{
                            border:2px solid #02A3F0; border-radius: 0 !important;
                            &:focus{box-shadow:none;}
                        }
                        .inputBgc{background-color:#FAFAFA;}
                        .btn-primary{
                            background:#02A3F0;border-radius: 0 ;box-sizing:border-box;border-color:#02A3F0;
                            &:focus,
                            &:active:focus,
                            &.active:focus,
                            &.focus,
                            &:active.focus,
                            &.active.focus {
                                outline: none;    
                                box-shadow:none;
                            }
                        }
                    } 
                }
            }
            .hotSearch{
                float:left;padding-top:7px;
                li{
                    float:left;padding-right:12px;color:#666666;
                    a{
                        font-size:12px;
                        color:#666666;
                        span{color:#f00;}
                        &:hover{color:#f00;}
                    }
                }
            }
            .qrcode_box{
                position:absolute;top:12px;right:-80px;
                width: 80px;height: 80px;
                background:url('../images/z_erweima1.png') no-repeat;
                #mobile-ewm{
                    position:absolute;
                    top:4px;
                    left:-45px;
                    width: 180px;
                    background-color:#fff;
                    border:1px solid #ddd;
                    z-index:10;
                    visibility:hidden;
                    .app{
                        background:url('../images/z_erweima2.png')no-repeat 5px 5px;
                        padding-left:90px;
                        padding-top:5px;
                        height: 90px;
                        border-bottom:1px solid #ccc;
                        font-size:12px;
                        .android,.ios{
                            display:inline-block;
                            width: 25px;height: 25px;
                            background:url('../images/z_erweima4.png')no-repeat 0 -25px; 
                        }
                        .ios{
                            background-position:0px 0px;
                        }
                    }
                    .gzh{
                        background:url('../images/z_erweima3.jpg')no-repeat 5px 5px;
                        padding-left:90px;
                        padding-top:5px;
                        height: 90px;
                        border-bottom:1px solid #ccc;
                        font-size:12px;
                    }
                }   
            }
        }
    }     
        .shoppingCar{
            position:relative;
            float:right;
            width: 195px;height: 44px;line-height:44px;
            margin-top:20px;
            background:url('../images/z_spirit.gif')no-repeat 0 -30px;
            text-align:center;
            p{
                span{color:#f00;font-style:italic;}
            }
            #car{
                position:relative;
                display:none;
                span{
                    position:absolute;top:-1px;right:0;
                    display:block;
                    border-top:1px solid #fff;
                    width:173px;
                    height:1px;
                }
            }
            &:hover{
                display:block;
                background-position:0 -74px;
                height: 42px;line-height:43px;
                padding-top:1px;
                cursor:pointer;
                z-index:100;
                #car{
                    position:absolute;left:-96px;top:42px;
                    display:block;
                    background:#fff;
                    width:290px;
                    line-height:44px;
                    border:1px solid #ddd;
                    z-index:-1;
                    text-align:left;
                    padding-left:20px;
                }
            }
        }
}
#pageNav{
    height: 40px;
    background:linear-gradient(#535252,#101010);
    .container{
        width: 1200px;padding: 0;
        .z_nav1{
            >li{
                float:left;
                >a{
                    display:block;
                    color:#fff;text-decoration:none;           
                    span{
                        padding:0 30px 0 28px;
                        border-right:1px solid #565656;border-left:1px solid #010101;
                        font-size:15px;line-height:40px;height: 40px;
                    }
                }

                &:last-child,&:nth-child(2){
                    a{
                        span{   
                            border:none;
                        }
                    }
                } 
                &:nth-child(7),&:nth-child(8){
                    a{
                        color:#f00;
                    }
                }
                &:nth-child(2),&:nth-child(3),&:nth-child(4),&:nth-child(5),&:nth-child(6),&:nth-child(9){
                    a{
                        span:hover{
                            color:#2ad0ff;
                        }
                    }
                }     

                //二级导航
                &:first-child{
                    position:relative;
                    .z_nav2{
                        li:first-child{
                            
                        }
                    }
                }
            }
            .first-child{
                width: 230px;height:40px;line-height:40px;font-size:15px;
                background:#02B2ED;
                text-align:center;
            }            
        }
        // 二级导航
        #z_nav2{
            width: 230px;  
            background:#F8F8F8;
            // position:relative;

            
            .z_nav2-1{
                position:relative;
                height:90px;
                padding:13px 0 6px 20px;
                border:1px solid #E7E7E7;border-top:none; 

                >p:first-child{
                    height:27px;
                    line-height:27px;
                    text-align:left;font-weight:bold;
                    font-size:13px;
                    >a{
                        text-decoration:none;
                        color:#333333;
                        &:hover{
                            color:#0098E0;
                        }
                    }
                    >i{
                        display:block;float:right;
                        padding-right:15px;
                        color:#00ADFF;font-size:10px;
                    }
                }
                >p:nth-child(2){
                    text-align:left;
                    height:50px;
                    height:22px;line-height:22px;font-size:10px;
                    font-weight:normal;
                    >a{
                        white-space: nowrap;float:left;   
                        display:inline-block;
                        margin-right:13px;
                        color:#333333;text-decoration:none;   
                        >span{
                            color:#f00;
                        }
                        &:hover{
                            color:#0098E0;
                        }
                    } 
                }

                // 三级导航
                .z_nav3-1{
                    position:absolute;top:20px;left:228px;
                    width:652px;overflow:hidden;
                    border:1px solid #BDBDBD;
                    padding-left:20px;background:#fff;
                    display:none;
                    z-index:10;
                    .z_nav3-1l{
                        width: 400px;
                        float:left;
                        >ul{
                            >li{
                                width: 380px;
                                height:47px;float:left;
                                border-bottom:1px dotted #ddd;
                                &:last-child{border:none;}
                                >p{
                                    float:left;
                                    height:47px;line-height:47px;
                                    padding-right:20px;font-size:12px;
                                    >a{
                                        color:#444444;
                                        text-decoration:none;
                                    }
                                }
                                >div{
                                    width:310px;
                                    float:left;padding-top:10px;height:47px;
                                    a{
                                        display:inline-block;float:left;
                                        padding-right:14px;
                                        font-size:12px;height:22px;line-height:22px;
                                        white-space:nowrap;color:#444444;
                                        text-decoration:none; 
                                        &:hover{
                                            color:#0098E0;
                                        }
                                    }
                                }   
                            }        
                            .xiezhuang,.jiefu,.teshu,.dizhuang,.yanying,.jiemao,.shouzu,.mianbu,.caizhuang2{
                                height:64px;
                                >p{
                                    line-height:64px;
                                }
                            }           

                        }
                    }
                    .z_nav3-1r{
                        width: 230px;background:#F8F8F8;padding:0 15px;
                        float:right;overflow:hidden;
                        h4{
                            font-size:12px;text-align:left;
                            font-weight:bold;color:#666;
                            padding-bottom:9px;padding-top:24px;
                            border-bottom:1px solid #666666;
                        }
                        dl{
                            float:left;
                            width: 100px;text-align:left;
                            padding-top:11px;
                            >dt{
                                font-size:12px;
                                height:22px;line-height:22px;
                                >a{
                                    color:#666;text-decoration:none;
                                    &:hover{color:#0098E0;}
                                    span{
                                        color:red;
                                    }
                                }
                            }
                        }
                        >a{
                            display:block;
                            >img{
                                display:block;
                                padding:10px 0 10px 0;
                                box-sizing:content-box;
                            }
                        }
                    }
                }
                .z_nav3-2{top:-20px;}
                .z_nav3-3{top:-130px;}
                .z_nav3-4{top:-190px;}
                .z_nav3-5{top:-160px;}
                .z_nav3-6{top:-265px;}
                .z_nav3-7{top:-270px;}
                .nav_bk{
                    position:absolute;right:-2px;top:0;
                    display:none;
                    content:"";
                    border:1px solid #fff;
                    width: 1px;
                    height: 88px;z-index:50;
                }
                &:hover{
                    border-bottom-color:#bdbdbd;
                    border-top:1px solid #bdbdbd;
                    border-left:2px solid #03AAEA;
                    background:#fff;
                    padding-top:12px;
                    padding-left:18px;
                    .z_nav3-1,.nav_bk{
                        display:block;
                    }

                }
            }
            
        }
    }
}
#pageMain{

    width: 100%;
    height: 2000px;
    background:#EAADEA; 
}
#pageFooter{
    width: 100%;background:linear-gradient(#fff,#f5f1f1);
    border-top:1px solid #ddd;
    border-bottom:1px solid #ddd;
    
    .container{
        width: 1200px;padding:0;
        .foot_t{
            margin-top:26px 0;
            .foot_t_l{
                height:148px;width: 285px;
                padding-left:44px;
                border-right:1px solid #ddd;
                
                .tel{
                    background:url('../images/z_spirit.gif')no-repeat 0 -157px;
                    
                    padding-left:73px;
                    padding-right:20px;
                    height: 49px;width:196px;
                    p:first-child{
                        color:#f00;font-size:15px;font-style:italic;font-weight:bold;
                    }
                    p:nth-child(2){
                        text-align:right;font-size:12px;
                    }
                }
                .sina{
                    margin-top:10px;
                    width: 240px;height: 19px;
                    background:url('../images/z_footer3.jpg')no-repeat;
                    padding-left:30px;
                    >p{
                        display:inline-block;
                        font-size:12px;color:#666666;font-weight:bold;
                        height:22px;line-height:22px;
                        padding-right:6px;
                    }
                }
                .dingyue{
                    padding-top:10px;
                    overflow:hidden;
                    input{
                        height: 26px;width: 138px;
                        float:left;border:1px solid #ddd;
                    }
                    a{
                        display:block;
                        float:left;
                    }
                }
                .ps{
                    text-indent:0.5em;
                    font-size:12px;margin-top:7px;
                    color:#9B9B9B;
                }
            }
            .foot_t_c{
                dl{
                    width: 126px;
                    border-right:1px solid #ddd;
                    padding-top:3px;
                    padding-left:25px;
                    height:150px;
                    dt>a{
                            display:block;
                            color:#444444;font-size:15px;
                            margin-bottom:16px;
                        }
                    
                    dd{
                        font-size:12px;height:22px;line-height:22px;
                        >a{
                            color:#999999;
                        }
                    }
                }
            }
            .foot_t_r{
                width: 125px;
                height: 150px;
                padding-top: 11px;
                padding-left: 33px;
                background: url('../images/z_footer4.jpg') no-repeat 30px 104px;
            }
        }
        .foot_c{
            border-bottom:1px solid #ddd;
            height: 160px;
            >div{
                height:160px;
                text-align:center;
                dl{
                    display:inline-block;
                    float:left;
                }
            } 
        }
    }
}