#register{

    .container{
    width: 980px;overflow:hidden;
    border:1px solid #C6E6F3;padding:10px;
    margin-top:10px;text-align:left;
    margin-bottom:30px;
    .reg_l{
        width: 476px;height: 475px;float:left;
        margin-top:40px;
        padding-left:10px;
        .form_bg{
            height: 43px;
            width: 439px;
            background: url(../images/z_register.png)no-repeat -162px -153px;
            margin-bottom: 37px;
        }
        .form{
            width: 455px;height: 230px;padding-left:65px;
            .form-group{
                margin-bottom:33px;position:relative;
                >label{
                    font-weight:normal;font-size:12px;display:inline-block;width: 50px;
                }
                >input{
                    width: 206px;border:1px solid #7F9DB9;
                }
                .help-block{position:absolute;top:25px;left:50px;color:#f00;font-size:12px;}

                #yzm1{
                    width: 56px;
                    &+span{
                        display:inline-block;margin-left:2px;height:13px;line-height:13px;
                        background-color:#bbb;padding:0 4px;font-size:14px;font-weight:bold;
                        &:hover{cursor:pointer;}
                    }
                }
                #password+a{
                    font-size:12px;color:#00B6F2;
                    font-family:FangSong;
                    &:hover{color:#f70;}
                }
            }
            .last{
                text-align:center;padding-right:50px;
                .btnReg{
                    height: 30px;line-height:15px;width: 90px;background:linear-gradient(#59B8F5,#2B93D6);font-size:14px;
                }
            }
        }
        .hezuo{
            padding-left:65px;font-size:13px;
        }
    }

    .reg_c{
        background: url(../images/z_register.png) no-repeat -928px -83px;
        height: 403px;
        width: 1px;
        float: left;

    }

    .reg_r{
        width: 475px;height: 515px;float:left;
        margin-top:40px;padding-left:10px;
        .form_bg{
            height: 43px;
            width: 439px;
            background: url(../images/z_register.png)no-repeat -163px -197px;
            margin-left: 16px;
            margin-bottom: 37px;
        }
        .form{
            width: 455px;padding-left:50px;
            .form-group{
                margin-bottom:33px;position:relative;
                >label{
                    font-weight:normal;font-size:12px;display:inline-block;width: 60px;
                }
                >input{
                    width: 206px;border:1px solid #7F9DB9;
                }
                .help-block{position:absolute;top:25px;left:65px;color:#f00;font-size:12px;}
                #yzm2{
                    width: 56px;
                    &+span{
                        display:inline-block;margin-left:2px;height:13px;line-height:13px;
                        background-color:#ccc;padding:0 4px;font-size:14px;font-weight:bold;
                        &:hover{cursor:pointer;}
                    }               
                }
                .z_right{display:none;}

            }
            .last{
                text-align:center;padding-right:50px;

                .btnReg{
                    height: 30px;line-height:15px;width: 90px;background:linear-gradient(#59B8F5,#2B93D6);font-size:14px;
                }
            }
            .form-indents{
                margin-bottom:35px;font-weight:normal;color:#666;font-family:FangSong;
                &:before{
                    content:"";
                    width: 60px;
                    height: 25px;
                    display:inline-block;
                    float:left;
                }
                a:hover{color:#f70;}
            }
        }
    }
    }
}

    // #pageNav{display:none;}


#pageNav>.container #z_nav2{
         max-height:0px;z-index:20;transition:max-height 0.5s linear;visibility:hidden;width:230px;
            // position:relative;
            // display:none;
    }
 
#pageNav .container .z_nav1 >li:first-child:hover #z_nav2{
    visibility:visible;max-height:650px;
}
    

