@charset "UTF-8";
.banner { width: 100%; background: #F6EDE4; }

.banner > .container { padding: 0; padding-left: 230px; overflow: hidden; }

.banner > .container .carousel-inner { height: 400px; width: 970px; }

.banner > .container .carousel-inner .item a:first-child img { display: inline-block; }

.banner > .container .carousel-inner .item div { float: right; width: 205px; height: 400px; padding-left: 10px; padding-top: 5px; }

.carousel-fade .carousel-inner .item { opacity: 0; -webkit-transition-property: opacity; -moz-transition-property: opacity; -ms-transition-property: opacity; -o-transition-property: opacity; transition-property: opacity; }

.carousel-fade .carousel-inner .active { opacity: 1; }

.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right { opacity: 0; }

.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right { opacity: 1; }

.carousel-indicators { text-align: left; margin-left: -48%; padding-right: 5px; z-index: 5; }

.carousel-indicators li { width: 22px; height: 22px; line-height: 22px; text-indent: 0px; border-radius: 50%; background: #E8E8E8; text-align: center; font-size: 12px; }

.carousel-indicators .active { width: 22px; height: 22px; margin: 0; background-color: #00B5FF; z-index: 5; }

/* imgbox */
.imgbox .container { position: relative; height: 220px; z-index: 0; padding: 0; }

.imgbox .container .notice { height: 33px; line-height: 33px; }

.imgbox .container .notice span { display: block; float: left; width: 19px; height: 19px; background: url("../images/z_spirit.gif") no-repeat -409px -30px; margin-top: 6px; margin-left: 230px; margin: 6px 6px 0 231px; }

.imgbox .container .notice a { color: #666; font-size: 12px; }

.imgbox .container .img-box1 { position: absolute; left: 240px; width: 969px; }

.imgbox .container .img-box1 img { margin: 0 2px; }

/* 限时抢购 */
.z_limit .container { padding: 0; }

.z_limit .container > p { height: 62px; padding-top: 27px; padding-bottom: 10px; font-size: 22px; border-bottom: 3px solid #FF8C8F; }

.z_limit .container > p span:first-child { color: #f00; padding-right: 20px; }

.z_limit .container > p span:last-child { color: #C4C4C4; }

.z_limit .container > div { height: 467px; border-bottom: 1px solid #ddd; }

.z_limit .container > div .goodsBox { display: block; float: left; position: relative; width: 287px; height: 404px; border: 1px solid #e4e4e4; margin-right: 12px; text-decoration: none; margin-top: 10px; }

.z_limit .container > div .goodsBox .times { width: 285px; height: 38px; color: #999; line-height: 38px; background: #f8f7f5 url("../images/z_limitBuy_5.jpg") no-repeat 33px 5px; padding-left: 73px; }

.z_limit .container > div .goodsBox > img { margin: 13px; }

.z_limit .container > div .goodsBox .goodsContent { padding: 0 13px; font-size: 12px; font-weight: bold; color: #666666; overflow: hidden; text-overflow: ellipsis; height: 32px; width: 260px; }

.z_limit .container > div .goodsBox .price { position: absolute; top: 362px; left: -1px; background: url("../images/z_limitBuy_6.jpg") no-repeat; width: 287px; height: 55px; color: #fff; line-height: 55px; font-size: 18px; font-weight: bold; font-family: microsoft yahei; padding-left: 20px; }

.z_limit .container > div .goodsBox .price > span { font-size: 36px; font-family: Arial; }

.z_limit .container > div .goodsBox .purchased { position: absolute; top: 424px; right: 10px; color: #666; }

.z_limit .container > div .goodsBox .purchased strong { color: #f00; }

/* tab上 */
.sale-box_t { margin-top: 20px; }

.sale-box_t .container { padding: 0; border-bottom: 2px solid #D0D0D0; background: linear-gradient(#fff, #f5f1f1); }

.sale-box_t .container > ul { overflow: hidden; height: 42px; }

.sale-box_t .container > ul li { float: left; height: 40px; line-height: 40px; padding: 0 82px; font-weight: bold; font-size: 18px; }

.sale-box_t .container .salebox .weekSale { width: 100%; height: 436px; padding-top: 20px; }

/* tab下 */
.sale-box_b { padding-top: 20px; }

.sale-box_b .container { padding: 0; padding-bottom: 23px; border-bottom: 1px solid #f1f1f1; }

.sale-box_b .container .salebox-1 { width: 240px; border-right: 1px solid #f1f1f1; overflow: hidden; float: left; }

.sale-box_b .container .salebox-1 dd { padding-left: 12px; }

.sale-box_b .container .salebox-1 dd a { color: #666; font-size: 13px; text-decoration: none; }

.sale-box_b .container .salebox-1 .good-exce { margin-top: 10px; }

.sale-box_b .container .salebox-1 .good-exce > a { display: block; color: #f00; margin-bottom: 40px; }

.sale-box_b .container .salebox-2 { float: left; width: 480px; height: 398px; }

.sale-box_b .container .salebox-2 .salebox-2l, .sale-box_b .container .salebox-2 .salebox-2r, .sale-box_b .container .salebox-2 .salebox-2b { width: 240px; height: 210px; border-right: 1px solid #ddd; }

.sale-box_b .container .salebox-2 .salebox-2l dl dt, .sale-box_b .container .salebox-2 .salebox-2r dl dt, .sale-box_b .container .salebox-2 .salebox-2b dl dt { text-align: center; }

.sale-box_b .container .salebox-2 .salebox-2l dl dd, .sale-box_b .container .salebox-2 .salebox-2r dl dd, .sale-box_b .container .salebox-2 .salebox-2b dl dd { padding-left: 12px; }

.sale-box_b .container .salebox-2 .salebox-2l dl dd a, .sale-box_b .container .salebox-2 .salebox-2r dl dd a, .sale-box_b .container .salebox-2 .salebox-2b dl dd a { color: #666; font-size: 14px; text-decoration: none; }

.sale-box_b .container .salebox-2 .salebox-2b { width: 480px; height: 191px; }

.sale-box_b .container .salebox-2 .salebox-2b dl { padding-top: 11px; border-top: 1px solid #ddd; }

.sale-box_b .container .salebox-2 .salebox-2b dl dt { width: 220px; float: left; }

.sale-box_b .container .salebox-2 .salebox-2b dl dd:nth-child(2) { margin-bottom: 10px; }

.sale-box_b .container .salebox-2 .salebox-2b dl dd:nth-child(2) a { color: #666666; }

.sale-box_b .container .salebox-2 .salebox-2b dl dd:nth-child(3) { margin-bottom: 40px; padding-right: 13px; }

.sale-box_b .container .salebox-2 .salebox-2b dl dd:nth-child(3) a { color: #f00; }

.sale-box_b .container .salebox-3 { float: left; width: 240px; height: 389px; border-right: 1px solid #ddd; padding-left: 13px; }

.sale-box_b .container .salebox-3 dl dt { text-align: center; margin-left: -13px; }

.sale-box_b .container .salebox-3 dl dd a { color: #666; font-size: 14px; text-decoration: none; }

.sale-box_b .container .salebox-3 dl dd:nth-child(1) { margin-bottom: 10px; }

.sale-box_b .container .salebox-3 dl dd:nth-child(1) a { color: #666666; }

.sale-box_b .container .salebox-3 dl dd:nth-child(2) { margin-bottom: 40px; padding-right: 13px; }

.sale-box_b .container .salebox-3 dl dd:nth-child(2) a { color: #f00; }

.sale-box_b .container .salebox-4 { float: right; width: 239px; height: 411px; }

.sale-box_b .container .salebox-4 dl { padding-left: 13px; }

.sale-box_b .container .salebox-4 dl dt { text-align: center; margin-left: -13px; }

.sale-box_b .container .salebox-4 dl dd a { color: #666; font-size: 14px; text-decoration: none; }

.sale-box_b .container .salebox-4 dl:first-child { padding-bottom: 10px; border-bottom: 1px solid #ddd; }

/* weekSale的公共样式 */
.sale-box_b .container .weekSale .good-price { font-size: 18px; color: #f00; height: 22px; line-height: 22px; }

.sale-box_b .container .weekSale .good-price span:first-child { font-size: 24px; height: 22px; line-height: 18px; font-weight: bold; }

.sale-box_b .container .weekSale .good-price .zhekou { font-size: 13px; }

/* 品牌活动 */
.brand .container { padding: 20px 0 0 0; }

.brand .container .brand_t { border-bottom: 2px solid #D0D0D0; overflow: hidden; }

.brand .container .brand_t h4 { height: 40px; line-height: 40px; font-size: 18px; font-weight: bold; float: left; }

.brand .container .brand_t ul li { height: 40px; line-height: 40px; float: left; font-size: 12px; padding-top: 17px; }

.brand .container .brand_t ul li a { display: block; color: #666666; height: 12px; line-height: 12px; text-decoration: none; padding: 0 15px; border-right: 1px solid #666; }

.brand .container .brand_t ul li:last-child a { border-right: 0 none; }

.brand .container .brand_b { padding-top: 10px; }

/* 护肤 */
/* 品牌活动 */
.skin .container { padding: 21px 0 0 0; }

.skin .container .skin_t { border-bottom: 2px solid #0094FF; overflow: hidden; }

.skin .container .skin_t h4 { height: 42px; line-height: 42px; font-size: 20px; font-weight: bold; float: left; }

.skin .container .skin_t h4 span { padding-left: 10px; color: #0094FF; }

.skin .container .skin_t ul li { height: 40px; line-height: 40px; float: left; font-size: 12px; padding-top: 17px; }

.skin .container .skin_t ul li a { display: block; color: #666666; height: 12px; line-height: 12px; text-decoration: none; padding: 0 15px; border-right: 1px solid #666; }

.skin .container .skin_t ul li a span { color: #f00; }

.skin .container .skin_t ul li:last-child a { border-right: 0 none; }

.skin .container .skin_b { padding-top: 10px; overflow: hidden; }

.skin .container .skin_b .skin_bl { width: 268px; height: 480px; float: left; }
