* { font-family: arial,\5b8b\4f53; }

#pageNav > .container #z_nav2 { max-height: 0px; z-index: 20; transition: max-height 0.5s linear; visibility: hidden; width: 230px; }

#pageNav .container .z_nav1 > li:first-child:hover #z_nav2 { visibility: visible; max-height: 650px; }

#pageGoods .container { padding: 0; width: 980px; }

#pageGoods .container > p { line-height: 36px; width: 980px; height: 36px; color: #999; margin-top: 15px; border-bottom: 2px solid #78b5f4; }

#pageGoods .container .goods_t { width: 100%; margin-top: 15px; border-bottom: 2px solid #e4e4e4; overflow: hidden; }

#pageGoods .container .goods_t .goods_tl { width: 457px; float: left; height: 500px; }

#pageGoods .container .goods_t .goods_tl .small { width: 72px; height: 380px; float: left; }

#pageGoods .container .goods_t .goods_tl .small img { display: block; border: 1px solid #ddd; cursor: pointer; margin-bottom: 5px; }

#pageGoods .container .goods_t .goods_tl .goods { width: 350px; height: 350px; margin: 0px 15px 0px 85px; cursor: move; }

#pageGoods .container .goods_t .goods_tl > p { text-align: right; margin-top: 8px; }

#pageGoods .container .goods_t .goods_tl > p a { color: #4063a7; font-size: 12px; text-decoration: none; }

#pageGoods .container .goods_t .goods_tl .share { width: 200px; height: 19px; margin: 0 auto 15px; }

#pageGoods .container .goods_t .goods_tl .share a { display: block; float: right; background: url(../images/z_goods.gif) no-repeat -93px -24px; width: 23px; height: 23px; overflow: hidden; line-height: 100px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(2) { background-position: 0 -24px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(3) { background-position: -47px -24px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(4) { background-position: -70px -24px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(5) { background-position: -24px -24px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(6) { background-position: -139px -24px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(2):hover { background-position: 0 0; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(3):hover { background-position: -47px 0px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(4):hover { background-position: -70px 0px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(5):hover { background-position: -24px -0px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(6):hover { background-position: -139px 0px; }

#pageGoods .container .goods_t .goods_tl .share a:nth-child(7):hover { background-position: -93px 0; }

#pageGoods .container .goods_t .goods_tr { float: right; width: 503px; }

#pageGoods .container .goods_t .goods_tr h2 { font-size: 16px; line-height: 20px; font-weight: bold; color: #333; padding: 10px; word-break: break-all; word-wrap: break-word; }

#pageGoods .container .goods_t .goods_tr .priceNow, #pageGoods .container .goods_t .goods_tr .details { padding: 12px 10px 2px 10px; border-top: 1px dotted #e4e4e4; width: 483px; box-sizing: content-box; }

#pageGoods .container .goods_t .goods_tr .priceNow p:nth-child(1), #pageGoods .container .goods_t .goods_tr .priceNow .no5Price, #pageGoods .container .goods_t .goods_tr .priceNow p:nth-child(3) { width: 66px; height: 28px; float: left; }

#pageGoods .container .goods_t .goods_tr .priceNow .engNameVal, #pageGoods .container .goods_t .goods_tr .priceNow .num, #pageGoods .container .goods_t .goods_tr .priceNow .jiage { height: 28px; }

#pageGoods .container .goods_t .goods_tr .priceNow div:last-child .priceVal { color: #f00; font-size: 16px; font-weight: bold; margin-right: 30px; }

#pageGoods .container .goods_t .goods_tr .priceNow div:last-child .marketPrice, #pageGoods .container .goods_t .goods_tr .priceNow div:last-child .discountPrice { font-size: 12px; margin-right: 30px; }

#pageGoods .container .goods_t .goods_tr .details div:nth-child(1), #pageGoods .container .goods_t .goods_tr .details div:nth-child(3), #pageGoods .container .goods_t .goods_tr .details div:nth-child(5), #pageGoods .container .goods_t .goods_tr .details div:nth-child(7), #pageGoods .container .goods_t .goods_tr .details div:nth-child(9), #pageGoods .container .goods_t .goods_tr .details div:nth-child(11) { width: 66px; height: 28px; float: left; font-size: 13px; font-family: arial; }

#pageGoods .container .goods_t .goods_tr .details .goodsBrand, #pageGoods .container .goods_t .goods_tr .details .sort, #pageGoods .container .goods_t .goods_tr .details .goodsRank, #pageGoods .container .goods_t .goods_tr .details p:nth-child(10), #pageGoods .container .goods_t .goods_tr .details p:nth-child(12) { height: 28px; font-size: 13px; }

#pageGoods .container .goods_t .goods_tr .details div:nth-child(8) { height: 28px; }

#pageGoods .container .goods_t .goods_tr .details div:nth-child(8) span:first-child { display: inline-block; margin-right: 30px; color: red; }

#pageGoods .container .goods_t .goods_tr .details p:nth-child(10) span { margin-right: 10px; font-size: 13px; }

#pageGoods .container .goods_t .goods_tr .details p:nth-child(10) span img { margin: 0 3px; }

#pageGoods .container .goods_t .goods_tr .details p:nth-child(12) a { margin: 0 5px; }

#pageGoods .container .goods_t .goods_tr .buyBox { background: #fffcf3; border: 1px solid #f5debc; height: 72px; line-height: 72px; padding-left: 21px; }
