@charset "UTF-8";
#pageNav > .container #z_nav2 { max-height: 0px; z-index: 20; transition: max-height 0.5s linear; visibility: hidden; width: 230px; }

#pageNav .container .z_nav1 > li:first-child:hover #z_nav2 { visibility: visible; max-height: 650px; }

/* 列表页 */
#pageList .container { padding: 0; }

#pageList .container > p { line-height: 34px; height: 34px; color: #999; margin-top: 15px; }

#pageList .container > p span { color: #4e7fc2; }

#pageList .container > p a { color: #333; }

#pageList .container > p a:hover { color: #ff1a3a; }

#pageList .container .page_l { width: 230px; height: 1500px; margin-right: 10px; float: left; }

#pageList .container .page_l .panel { margin: 0; }

#pageList .container .page_l .panel .panel-heading { width: 228px; height: 36px; border-radius: 0; background: url("../images/z_pagelist1.jpg") repeat-x; }

#pageList .container .page_l .panel .panel-heading h4 { font-size: 13px; }

#pageList .container .page_l .panel .panel-heading h4 a { text-decoration: none; font-weight: bold; }

#pageList .container .page_l .panel .panel-heading h4 a:before { content: ""; background: url("../images/z_spirit.gif") no-repeat 0 -248px; width: 15px; height: 14px; float: left; margin-right: 10px; }

#pageList .container .page_l .page_lSalebox, #pageList .container .page_l .page_lReadbox { width: 230px; overflow: hidden; border: 1px solid #ddd; padding: 1px; }

#pageList .container .page_l .page_lSalebox > h3, #pageList .container .page_l .page_lReadbox > h3 { background: linear-gradient(#fff, #f5f1f1); height: 34px; line-height: 34px; width: 100%; text-align: center; font-weight: bold; border-bottom: 1px solid #ddd; }

#pageList .container .page_l .page_lSalebox .ul_1, #pageList .container .page_l .page_lReadbox .ul_1 { text-align: center; }

#pageList .container .page_l .page_lSalebox .ul_1 li, #pageList .container .page_l .page_lReadbox .ul_1 li { width: 228px; height: 193px; padding: 6px; border-bottom: 1px dotted #ddd; }

#pageList .container .page_l .page_lSalebox .ul_1 li > p, #pageList .container .page_l .page_lReadbox .ul_1 li > p { width: 100%; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; height: 20px; line-height: 20px; padding: 0 3px; }

#pageList .container .page_l .page_lSalebox .ul_1 li > p a, #pageList .container .page_l .page_lReadbox .ul_1 li > p a { color: #666; font-size: 13px; display: inline-block; text-decoration: none; }

#pageList .container .page_l .page_lSalebox .ul_1 li img, #pageList .container .page_l .page_lReadbox .ul_1 li img { padding-top: 10px; }

#pageList .container .page_l .page_lSalebox .ul_1 li .price, #pageList .container .page_l .page_lReadbox .ul_1 li .price { font-family: microsoft yahei; color: #ff1a3a; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; }

#pageList .container .page_l .page_lSalebox .ul_1 li .price:before, #pageList .container .page_l .page_lReadbox .ul_1 li .price:before { content: "￥"; }

#pageList .container .page_l .page_lSalebox .ul_2 li, #pageList .container .page_l .page_lReadbox .ul_2 li { width: 228px; height: 113px; padding: 15px 10px; border-bottom: 1px dotted #ddd; text-align: right; }

#pageList .container .page_l .page_lSalebox .ul_2 img, #pageList .container .page_l .page_lReadbox .ul_2 img { width: 82px; height: 82px; float: left; }

#pageList .container .page_l .page_lSalebox .ul_2 .content, #pageList .container .page_l .page_lReadbox .ul_2 .content { text-align: left; line-height: 16px; font-size: 12px; }

#pageList .container .page_l .page_lSalebox .ul_2 .content a, #pageList .container .page_l .page_lReadbox .ul_2 .content a { color: #666; text-decoration: none; }

#pageList .container .page_l .page_lSalebox .ul_2 .content a:hover, #pageList .container .page_l .page_lReadbox .ul_2 .content a:hover { color: #f70; }

#pageList .container .page_l .page_lSalebox .ul_2 .price, #pageList .container .page_l .page_lReadbox .ul_2 .price { font-family: microsoft yahei; color: #ff1a3a; font-size: 14px; font-weight: bold; height: 20px; line-height: 20px; }

#pageList .container .page_l .page_lSalebox .ul_2 .price:before, #pageList .container .page_l .page_lReadbox .ul_2 .price:before { content: "￥"; }

#pageList .container .page_r { float: left; width: 960px; }

#pageList .container .page_r .selectBox { border: 3px solid #F4F4F4; height: 210px; padding: 20px; }

#pageList .container .page_r .filterBox { float: left; margin-top: 10px; border: 1px solid #eee; border-top: 2px solid #15ade0; padding: 5px 10px; background: linear-gradient(#fff, #f5f1f1); height: 39px; line-height: 27px; width: 100%; }

#pageList .container .page_r .filterBox .filter_l li { float: left; border: 1px solid #cecbce; padding: 0 10px; height: 22px; line-height: 22px; margin-right: 5px; margin-top: 3px; }

#pageList .container .page_r .filterBox .filter_l li:first-child { border: 0; }

#pageList .container .page_r .filterBox .filter_r li { float: left; }

#pageList .container .page_r .cplist ul li { float: left; width: 240px; height: 333px; padding: 13px; background: #fff; }

#pageList .container .page_r .cplist ul li img { vertical-align: top; padding: 7px; }

#pageList .container .page_r .cplist ul li .content { height: 36px; line-height: 18px; overflow: hidden; font-size: 12px; }

#pageList .container .page_r .cplist ul li .content a { color: #666; }

#pageList .container .page_r .cplist ul li .content a:hover { text-decoration: underline; color: #ff1a3a; }

#pageList .container .page_r .cplist ul li > div { margin: 10px 0 3px 0; color: #f00; }

#pageList .container .page_r .cplist ul li > div .price { font-size: 16px; font-weight: bold; font-family: verdana; }

#pageList .container .page_r .cplist ul li > div .price:before { content: "￥"; display: inline-block; }

#pageList .container .page_r .cplist ul li > div .zhekou { font-size: 12px; }

#pageList .container .page_r .cplist ul li .pushCar { display: inline-block; width: 90px; height: 24px; background: #fc1c5a; color: #fff; font-size: 14px; line-height: 12px; text-align: center; }

#pageList .container .page_r .cplist ul li .collect { display: inline-block; width: 56px; height: 24px; line-height: 12px; font-size: 14px; margin-left: 10px; }

#pageList .container .page_r .cplist ul li:hover { background: #f4f4f4; }

#pageList .container .page_r .page_below .z_page { float: right; margin-top: 20px; }

#pageList .container .page_r .page_below .z_page a { float: left; display: block; height: 26px; line-height: 20px; font-size: 12px; padding: 2px 10px; margin-left: 2px; border: 1px solid #ccc; font-family: arial; overflow: hidden; color: #005aa0; background: #fff; cursor: pointer; }

#pageList .container .page_r .page_below .z_page .z_active { background: #02a3f0; color: #fff; border: 1px solid #02a3f0; font-weight: bold; }
